<div class="search">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="searchValue" name="cityName" placeholder="Enter city name">
  </form>
</div>

<div class="container" *ngIf="foundObject" >
  <div class="upper-data" >
    <img src="../assets/hot2.jpg" *ngIf="foundObject.temp>15">
    <img src="../assets/cold9.jpg" *ngIf="foundObject.temp<=15">
    
    <div class="weather-data">
      <div class="location">{{foundObject.city}}</div>
      <div class="temperature">{{foundObject.temp | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information  
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" >
          <span>min</span>
        </div>
        <div class="info-block-value">
           {{foundObject.temp_min}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" >
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{foundObject.temp_max}}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.jpg" >
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{foundObject.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.jpg" >
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{foundObject.speed}} km/h
        </div>
      </div>
    </div>
  </div>

</div>

<!-- In form ofTable -->
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-18 text-center" >City weather Data</h1>
     </div>
</div>
<div>
  <input type="text" [(ngModel)]="searchValue" placeholder="Search">
<button (click)="search()">Search</button>
</div>
<div class="container">
  <div class="row">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">City</th>
      <th scope="col">City Id</th>
      <th scope="col">Humidity</th>
      <th scope="col">Speed</th>
      <th scope="col">Temperature</th>
      <th scope="col">Temperature(Max)</th>
      <th scope="col">Temperature(Min)</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of filterData()">
    <tr  >
      <td>{{item.id}}</td>
      <td>{{item.city}}</td>
      <td>{{item.cityId}}</td>
      <td>{{item.humidity}}</td>
      <td>{{item.speed}}</td>
      <td>{{item.temp}}</td>
      <td>{{item.temp_max}}</td>
      <td>{{item.temp_min}}</td>
    </tr>
    </ng-container>
  </tbody>
</table>
</div>
</div> -->

    
<router-outlet></router-outlet>